PORT=4000
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/zalopre_subscriptions?schema=public"
JWT_ACCESS_SECRET="change_me_access"
JWT_REFRESH_SECRET="change_me_refresh"
APP_WEB_URL="https://your-web-domain.com"

# SePay Webhook Authentication
SEPAY_API_KEY="your_sepay_api_key_here"

# VietQR (for generating payment QR codes)
VIETQR_BANK_ID="970422"
VIETQR_ACCOUNT_NO="0977831621"
VIETQR_ACCOUNT_NAME="NGUYỄN ĐÌNH THỌ"

SMTP_USER="resend"
SMTP_PASS=re_HFCk458y_FrMj5Frex5kzbeLSncZG2fZR
SMTP_FROM="support@tiodev.io.vn"

